
::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #fff;
    border-radius: 50px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #fff;
  }
  
  ::-webkit-scrollbar-thumb:active {
    background: #666;
  }
   
 body {
    font-family: Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    background-color: #fafafa;
}

header {
    height: 50px;
    color: white;
}
a.navbar-brand.mr-2 {
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 0 1.35em;
}
a.navbar-brand.mr-2:hover {
    text-decoration: none;
} 

.tab.tab-block {
    color: #5755d9;
}

.tab.tab-block .active {
    background-color: #5755d9;
}
.tab .tab-item a.active {
    color:#fff;
}

#entities {
    width: 17em;

    position: fixed;
    top: 36px;
    left: 0;
    bottom: 0;
    margin: 0;

    z-index: 1;
    background: #dde4eb;

    /* shadowy border */
    box-shadow: 0 0 20px #666;
    -webkit-box-shadow: 0 0 20px #666;
    -moz-box-shadow: 0 0 20px #666;
}
#queryForm {
    /* display: block; */
    /* text-align: center; */
    /* margin: 0.25em 0; */
}
#query {
    width: 91%;
    height:24px;
}
#entities ul {
    width: 17em;

    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    margin: 2.2em 0 0 0;
    padding: 0;

    overflow-y: auto;
    overflow-x: hidden;
}
#entities ul li {
    list-style: none;
    padding: 4px 8px;
    margin: 0;
    cursor: default;
}
#entities ul li.selected {
    background: #7abcff;
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee));
    color: white;
}
#entities ul li .playing {
    margin-left: 5px;
    font-size: 0.9em;
}


#main-detail, #extra-detail {
    position: fixed;
    left: 17em;
    margin: 1.0em 0 0 1.5em;
}
#main-detail {
    top: 36px;
    height: 98px;
}
#main-detail .artist, #main-detail .album, #main-detail .title {
    display: block;
}
#main-detail .title {
    font-size: 1.3em;
    font-weight: bold;
}
#main-detail .albumtitle {
    font-style: italic;
}

#extra-detail {
    overflow-x: hidden;
    overflow-y: auto;
    top: 134px;
    bottom: 0;
    right: 0;
}
/*Fix for correctly displaying line breaks in lyrics*/
#extra-detail .lyrics {
    white-space: pre-wrap;
}
#extra-detail dl dt, #extra-detail dl dd {
    list-style: none;
    margin: 0;
    padding: 0;
}
#extra-detail dl dt {
    width: 10em;
    float: left;
    text-align: right;
    font-weight: bold;
    clear: both;
}ƒƒ
#extra-detail dl dd {
    margin-left: 10.5em;
}


#player {
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    height: 50px;

    /* shadowy border */
    box-shadow: 0 -0px 10px #999;
    -webkit-box-shadow: 0 -0px 20px #999;
    -moz-box-shadow: 0 -0px 20px #999;
}
#player .play, #player .pause, #player .disabled {
    -webkit-appearance: none;
    font-size: 1em;
    font-family: Helvetica, Arial, sans-serif;
    background: none;
    border: none;
    color: white;
    /* padding: 5px; */
    margin: 0;
    text-align: center;
    width: 36px;
    height: 36px;
}
#player .disabled {
    color: #666;
}


/* Straight Copy and Paste from https://www.w3schools.com/howto/howto_js_sidenav.asp **/
/* The side navigation menu */
#sidenav {
    display:none;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links
#sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

When you mouse over the navigation links, change their color
#sidenav a:hover {
    color: #f1f1f1;
}

header #openbtn {
    margin:5px 5px 0 10px;
    display:block;
    float:left;
    color:#fff;
    text-decoration: none;
}

Position and style the close button (top right corner)
header #closebtn {
    margin:5px 5px 0 10px;
    display: none;
    float:left;
    color:#fff;
    text-decoration: none;
} */



/* Slider Shit */


.slider {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    background: #000;
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #000;
}

/* Times */
#times {
    width:50px;
}


/** Volume Slider **/

#volumeSlider {
    width: 100%;
}